body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f3f6;
}

.navbar {
  background: #232f3e;
  color: white;
  padding: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.navbar input {
  flex: 1;
  padding: 8px;
}

#products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  background: white;
  padding: 15px;
  border-radius: 6px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 140px;
  object-fit: contain;
}

.product button {
  margin-top: 8px;
  padding: 8px;
  width: 100%;
  background: #febd69;
  border: none;
  cursor: pointer;
}

.cart-section {
  background: white;
  padding: 20px;
}
.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
}
